body {
	background: url("../images/rose.jpg");
	height: 100%;
}

form{
	background: aliceblue;
}

#terms{
	text-align: center;
	font-weight: bolder;
	margin-top: 3%;
}

@media (max-width: 600px) {

	#intro-paragraph{
		text-align: center;
		font-family: 'Kaushan Script';
		font-size: 16px;
		margin-bottom: 3%;
	}

	#h1-title{
		width: 40%;
		margin-left: 29%;
	}

	#legend{
		text-align: right;
	}

	h1, button, label{
		width: 100%;
		text-align: center;
		display: inline-block;
	}



	.semantic-inputs{
		font-family: "Baskerville Old Face";
		margin-top: 2%;
		margin-left: 25%;
		width: 50%;
	}


	.semantic-labels{
		font-family: "Baskerville Old Face";
		font-weight: bold;
		margin-top: 2%;
	}

	#submit-button, #reset-button{
		font-family: "Baskerville Old Face";
		font-weight: bold;
		margin-left: 25%;
		width: 50%;
		border-style: dashed;
		border-radius: 10px;
		border-color: red;
		background: lemonchiffon;
	}

	#reset-button{
		background: cadetblue;
	}

}

@media (min-width: 600px) {

	#intro-paragraph{
		text-align: center;
		font-family: 'Kaushan Script';
		font-size: 18px;
		margin-bottom: 3%;
	}

	#h1-title{
		width: 30%;
		margin-left: 34%;
	}

	#legend{
		text-align: right;
		display: inline-block;
	}


	.semantic-labels{
		font-size: larger;
		font-family: Bahnschrift;
		font-weight: bolder;
		margin-top: 2%;
		display: inline-block;
		width: 100%;
	}

	.semantic-inputs{
		width: 220px;
		margin-bottom: 10%;
		border: 2px solid red;
		border-radius: 4px;
	}


	#submit-button, #reset-button{
		display: inline-block;
		font-family: "Baskerville Old Face";
		font-weight: bold;
		margin-left: 1%;
		width: 240px;
		border-style: dashed;
		border-radius: 10px;
		border-color: red;
		background: lemonchiffon;
	}

	#reset-button{
		background: cadetblue;
	}

	#my-form{
		width: min-content;
		width: -moz-min-content;
		-ms-grid-columns: min-content;
		margin:auto;
		height: 100%;
	}
}

@media (min-width: 1200px) {

	#intro-paragraph{
		text-align: center;
		font-family: 'Kaushan Script';
		font-size: 20px;
		margin-bottom: 3%;
	}

	#legend{
		text-align: right;
		display: inline-block;
	}

	#h1-title{
		width: 15%;
		margin-left: 42%;
	}

	.semantic-labels{
		font-size: 24px;
		font-family: Bahnschrift;
		font-weight: bolder;
		margin-top: 2%;
		display: inline-block;
		width: 100%;
	}

	.semantic-inputs{
		width: 320px;
		font-size: 20px;
		margin-bottom: 10%;
		border: 2px solid red;
		border-radius: 4px;
	}
	#submit-button, #reset-button{
		display: inline-block;
		font-family: "Baskerville Old Face";
		font-size: 24px;
		font-weight: bold;
		margin-left: 1%;
		width: 340px;
		border-style: dashed;
		border-radius: 10px;
		border-color: red;
		background: lemonchiffon;
	}

	#reset-button{
		background: cadetblue;
	}

	#my-form{
		width: min-content;
		width: -moz-min-content;
		-ms-grid-columns: min-content;
		margin:auto;
		height: 100%;
	}
}